@media screen and (min-width: 768px  ) and (max-width: 992px){
  .login{
    width: 90vw;
  }
  .img{
    width: 30%;
    float: left;
    height: 100%;
    
  }
  .formulario {
    width: 70%;
    float: right;
    
  }
  
}
@media screen and (min-width: 992px){
  .login{
    width: 950px;
  }
  .img{
    width: 50%;
    float: right;
    height: 100%;
  }
}